.container{
    width: 50%;
    margin: 0 auto;
}
.header{
    min-height: max-content;
    text-align: center;
    align-items: center;
    background-color: aquamarine;
}
h2{
    padding-top: 10px;
}
.form{
    padding-bottom: 10px;
}
.close{
    height: 30px;
    width: 30px;
    text-align: center;
    float: right;
    
}
.close:hover{
    background-color:red;
    color: white;
    font-weight: bold;
}
ul{
    margin: 0 auto;
    padding-left: 0px;
}

li{
 cursor: pointer;
 list-style-position: inside;
 list-style-type: disc;
 height: 30px;
 padding-left: 15px;
 background-color: rgba(0, 0, 255, 0.150);
 font-size: 20px;
 line-height: 30px;
 
}
li:hover{
    background-color:rgba(255, 255, 0, 0.5);
}
li.checked {
    background: rgba(120, 240, 12, 0.5);
    color: orange;
    text-decoration: line-through;
    font-style: italic;
}
